body {
  margin: 10px;
  max-width: 100vw;
  min-height: 100vh;
  /*Conteneur flex en colonne*/
  display: flex;
  flex-direction: column;
  background-color: $color__background-body;
}

.global {
  max-width: 100vw;
  /*Propriété comme item flex*/
  flex: 1 0 100%;
  /*Conteneur flex en rangée*/
  display: flex;
  /*Poussée vers la gauche pour ne pas voir le menu*/
  transform: translateX(-100%);
  /*Effet de transition sur la transformation*/
  transition: transform 1s;
  /*	overflow-x: hidden; */
}

.boutonBurger {
  background: linear-gradient(
    to bottom,
    #e84545 0%,
    #e84545 20%,
    transparent 20%,
    transparent 40%,
    #e84545 40%,
    #e84545 60%,
    transparent 60%,
    transparent 80%,
    #e84545 80%,
    #e84545 100%
  );
  height: 48px;
  width: 48px;
  margin: 1%;
  display: inline-block;
  cursor: pointer;
  /*Effet de transition sur la rotation*/
  transition: transform 1s;
}

.menu {
  background-color: $color__menu-nav;
  text-align: center;
  /*Pour cet exemple, on fixe la largeur du menu à 100% ou 100vw*/
  width: 100vw;
  /*Propriété comme item flex - ne peut rétrécir*/
  flex: 1 0 100%;
  /*Contexte flex en colonne pour ses enfants*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

#chkBoutonBurger:checked ~ .global {
  transform: translateX(0%);
}

#chkBoutonBurger:checked ~ .boutonBurger {
  transform: rotate(90deg);
}

#chkBoutonBurger {
  display: none;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar2 {
  grid-area: sidebar2;
}

.content {
  grid-area: content;
}

.movie1 {
  grid-area: movie1;
}

.movie2 {
  grid-area: movie2;
}

.movie3 {
  grid-area: movie3;
}

.movie4 {
  grid-area: movie4;
}

.movie5 {
  grid-area: movie5;
}

.movie6 {
  grid-area: movie6;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.conteneur {
  background-color: $color__background-body;
  color: #444;
}
/* conteneur est un élément flex et en même temps un conteneur grid */
.conteneur {
  /*Sa largeur est fixée à 100%*/
  width: 100vw;
  /*Propriété comme item flex - ne peut rétrécir*/
  flex: 1 0 100%;
  /*Conteneur flex en colonne pour ses enfants*/
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: auto;

  box-sizing: border-box;

  display: grid;
  max-width: 100vw;
  grid-gap: 1em;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "movie1"
    "movie2"
    "movie3"
    "movie4"
    "movie5"
    "movie6"
    "footer";
}

@media only screen and (min-width: 500px) {
  .conteneur {
    grid-template-columns: 20% 30% auto;
    grid-template-areas:
      "header   header   header"
      "sidebar  content  content"
      "sidebar2 sidebar2 sidebar2"
      "movie1   movie1	 movie1"
      "movie2 	movie2	 movie2"
      "movie3 	movie3	 movie3"
      "movie4 	movie4	 movie4"
      "movie5 	movie5	 movie5"
      "movie6 	movie6	 movie6"
      "footer   footer	 footer";

    min-width: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .boutonBurger {
    display: none;
  }

  .global {
    /* Placer à sa potition d'origine */
    transform: translateX(0%);
    /*Mettre le contenu en colonne*/
    flex-direction: column;
  }

  .menu {
    /*Propriété comme item flex - ne peut s'étirer en hauteur*/
    width: 96vw;
    margin-bottom: 10px;
    border-radius: 10px;
    flex: 0 0 100%;

    /*Affichage du menu en rangée*/
    flex-direction: row;
    justify-content: space-between;

    a {
      border: none;
      border-left: 1px solid $color__border-nav;
      /*Propriété comme item flex - peut s'étirer en largeur*/
      flex: 1 0 auto;

      &:first-child {
        border-top: none;
      }
    }
  }

  .conteneur {
    grid-gap: 20px;
    grid-template-columns: 10% 40% auto 10%;
    grid-template-areas:
      "header  header  header  header"
      "sidebar content content sidebar2"
      "movie1  movie1  movie1  movie1"
      "movie2  movie2  movie2  movie2"
      "movie3  movie3  movie3  movie3"
      "movie4  movie4  movie4  movie4"
      "movie5  movie5  movie5  movie5"
      "movie6  movie6  movie6  movie6"
      "footer  footer  footer  footer";
    max-width: 100%;
  }
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}

.sidebar2 {
  background-color: #ccc;
  color: #444;
}
