.film {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  animation: animationFilm 1s both;

  .conteneurTexte {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .imageAffiche {
    opacity: 0;
  }

  .imageAnim {
    animation: animationImage 0.5s both;
  }
}

@keyframes animationFilm {
  from {
    /* opacity:  0; */
    transform: translateX(-100vw) skew(-15deg);
    animation-timing-function: linear;
  }

  85% {
    transform: translateX(0%) skew(-15deg);
    animation-timing-function: linear;
  }

  90% {
    /* opacity:  .5; */
    transform: translateX(0%) skew(20deg);
    animation-timing-function: linear;
  }

  to {
    /* opacity:  1; */
    transform: translateX(0%) skew(0deg);
  }
}

@keyframes animationImage {
  from {
    opacity: 0;
    transform: scale(5);
    animation-timing-function: ease-in;
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
