.menu a {
	text-decoration: none;
	color: $color__texte-nav;
	border-bottom: 1px solid $color__border-nav;
	font-size: 1rem;
	padding: 0.5rem;
}

.menu a:first-child {
	border-top: 1px solid $color__border-nav;
}
